<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <section data-role="page" data-theme="c">
      <header data-role="header" data-theme="c">
        <script type="text/javascript"
            src="../../../javascripts/fadder-groups/fadder-children/fadder-children.js">
        </script>
        <h1>Fadderbarn</h1>
      </header>
      <div id="container" data-role="content">
        <form id="fadder-children-form" action="fadder-children.html" method="post" name="myform">
          <div data-role="fieldcontain">
            <fieldset id="fadder-children-collection" data-role="controlgroup">
            </fieldset>
          </div>
          <button type="submit">Slett</button>
        </form>
      </div>
    </section>
  </body>
</html>