<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <section data-role="page" data-theme="c">
        <script type="text/javascript"
            src="../../../javascripts/admin/send-email.js">
        </script>
      <header data-role="header" data-theme="b">
      <a href="#"  data-role="button" data-rel="back" class="ui-btn-left">Back</a>
        <h1>SEND EPOST</h1>
      </header>
      <div id="container" data-role="content">
      <h1 class="withborder">Send epost</h1>
        <form action="../fadder-children.html" data-ajax="false">
          <div data-role="fieldcontain">
            <input type="text" id="subject" name="subject" placeholder="Tittel" />
            <textarea id="message-body" name="message-body"
              placeholder="Skriv en kort beskjed"></textarea> 
          </div>
          <button type="submit">Send</button>
        </form>
      </div>
    </section>
  </body>
</html>