#grouplistdiv {
  visibility: hidden;
}

.under{
	text-align:right;
	width:100%;
}

.imgwrapper{
	float: left; 
/* /*     width: 80px; height: 80px; */ */
    text-align: center; 
    vertical-align: middle; 	
}