

.li-first .ui-btn-text {
    text-align:left;
}

.li-first .ui-icon {
    visibility:hidden;
}

img {
	padding:15px;
/*     padding-left: 10px; */
/*     padding-top:: 10px; */
}


/* .small{ */
/* 	font-size:50%; */
/* } */

/* .dividerbtn{ */
/* 	float:right; */
	
/* } */