

#profileImgc{
	float: left;
}
#faddergroup{
	text-align:center;
}

#update-person-form{
	padding-top:3px;
}

#groupinfo{
	float:right;
	font-family: header_font;
}

a.blacklink:link{
	color:black;
}
a.blacklink:visited {
	color:black;
}

a.blacklink:active {
	color: #00ADEF;
}

#groupinfo h1{
	margin:0;
	padding:0;
}

/* #profileinfo { */
/*   visibility: hidden; */
/* } */