<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <section data-role="page" data-theme="c">
      <link rel="stylesheet" href="../stylesheets/edit-event.css"/>
      <script type="text/javascript" charset="utf-8"
        src="../javascripts/edit-event.js"></script>
      <header data-role="header" data-theme="c">
        <h1>Rediger event</h1>
      </header>
      <div data-role="content">
        <a href="#" id="update" data-role="button">Oppdater</a>
        <ul id="edit-event-attributes" data-role="listview" data-inset="true"
            data-theme="c"></ul>
      </div>
    </section>
  </body>