<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!--   <head> -->
<!--   <meta http-equiv="Content-Type" content="text-html" charset="UTF-8"/> -->
<!--   </head> -->
<!--   <body> -->
<!--     <section data-role="page" data-theme="c"> -->
<!--         <script type="text/javascript" -->
<!--             src="../javascripts/admin/fadder-children.js"> -->
<!--         </script> -->
<!--       <header data-role="header" data-theme="b"> -->
<!--       <a href="#"  data-role="button" data-rel="back" class="ui-btn-left">Back</a> -->
<!--         <h1>FADDERBARN</h1> -->
<!--       </header> -->
<!--       <div id="container" data-role="content"> -->
<!--       <h1 class="withborder">Fadderbarn</h1> -->
<!--       <a href="admin-add-children.html"  data-role="button">Legg til barn manuelt</a> -->
<!--       <h3 class="customfont">Registrerte barn:</h3> -->
<!--         <form id="fadder-children-form" method="post" name="foo" -->
<!--             data-ajax="false"> -->
<!-- <!--           <div data-role="fieldcontain"> --> -->
<!--             <fieldset id="fadder-children-collection" data-role="controlgroup"> -->
<!--             </fieldset> -->
<!-- <!--           </div> --> -->
<!--           <div data-role="fieldcontain"> -->
<!--           	<h3 class="customfont">Velg handling:</h3> -->
<!--             <fieldset data-role="controlgroup" data-type="horizontal"> -->
<!--               <input type="radio" id="radio-delete" name="radio-method" -->
<!--                   value="delete" /> -->
<!--               <label for="radio-delete">Slett</label> -->
<!--               <input type="radio" id="radio-send-email" name="radio-method" -->
<!--                   value="send-email" checked="checked" /> -->
<!--               <label for="radio-send-email">Send e-post</label> -->
<!--             </fieldset> -->
<!--           </div> -->
<!--           <button type="submit">Utfør</button> -->
<!--         </form> -->
<!--       </div> -->
<!--     </section> -->
<!--   </body> -->
<!-- </html> -->