<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div data-role="page" data-theme="c" id="gallery-page">
		<link rel="stylesheet" href="../stylesheets/gallery.css" />
		<script type="text/javascript" charset="utf-8"
			src="../javascripts/fb.js">	
 		</script>

		<div data-role="header" data-position="fixed" data-theme="b">
			<a href="#"  data-role="button" data-rel="back" class="ui-btn-left">Back</a>
			<h3>GALLERI</h3>
		</div>
		
		<div data-role="content" id="gallerycontainer">
			<h1 class="withborder">Siste bilder</h1>
			
			<div id="loadingforprofile"><img class="spin" src="../stylesheets/common/images/loader.png" /></div>
			
			<div id="galleryimages">
			</div>
			
		</div><!-- Content -->

	</div> 	<!-- page -->


</body>
</html>