<!DOCTYPE HTML>
<html>
  <head>
    <title>NITHs</title>
    <script type="text/javascript" charset="utf-8" src="../javascripts/common/phonegap-1.4.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="../javascripts/common/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="../javascripts/common/jquery-mobile.js"></script>
    <script type="text/javascript" charset="utf-8" src="../javascripts/common/google-client.js"></script>
    <script type="text/javascript" charset="utf-8" src="../javascripts/index.js"></script>
    <link rel="stylesheet" href="../stylesheets/common/jquery-mobile.css"/>
    <link rel="stylesheet" href="../stylesheets/index.css"/>
    <script type="text/javascript">
      
    </script>
</head>
  <body>
    <section data-role="page" data-theme="b">
      <header data-role="header" data-theme="b">
        <h1>Fadderuke app</h1>
      </header>
      <div>
        <h2 id="logo">NITHs Fadderuke app</h2>
        <a rel="external" id="login" data-role="button">Sign in through Google</a>
      </div>
    </section>
  </body>
</html>