<!DOCTYPE html>
<html>
  <head>
    <title>NITHs</title>
    <link rel="stylesheet" href="../stylesheets/common/jquery-mobile.css"/>
    <link rel="stylesheet" href="../stylesheets/common/application.css"/>
    <link rel="stylesheet" href="../stylesheets/index.css"/>
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/common/jquery.js"></script>
    <script>
      $(document).bind("mobileinit", function() {
        $.mobile.touchOverflowEnabled = true;
      });
    </script>
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/common/jquery-mobile.js">
    </script>
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/common/jsoauth.js">
    </script>
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/common/phonegap-1.4.1.js">
    </script>
    <script type="text/javascript" charset="utf-8" src="../childbrowser.js">
    </script>
    <script type="text/javascript" charset="utf-8"
        src="../javascripts/common/application.js">
    </script>
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/index.js">
    </script>
  </head>
  <body>
    <section data-role="page" data-theme="c">
      <header data-role="header" data-theme="c">
        <h1>Fadderuke app</h1>
      </header>
      <div data-role="content">
        <h2 id="logo">NITHs Fadderuke app</h2>
        <div>
          <a id="login" href="#" data-role="button">Logg inn via Google</a>
          <a id="logout" href="#" data-role="button">Logg ut </a>
        </div>
      </div>
    </section>
  </body>
</html>