<!DOCTYPE html>
<html>
<head>

<title>NITHs</title>
    <link rel="stylesheet" href="../stylesheets/common/jquery-mobile.css"/>
    <link rel="stylesheet" href="../stylesheets/common/application.css"/>
    <link rel="stylesheet" href="../stylesheets/index.css"/>
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/common/jquery.js"></script>
    <script>
      $(document).bind("mobileinit", function() {
        $.mobile.touchOverflowEnabled = true;
      });
    </script>
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/common/jquery-mobile.js">
    </script>
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/common/jsoauth.js">
    </script>
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/common/phonegap-1.4.1.js">
    </script>
    <script type="text/javascript" charset="utf-8"
        src="../javascripts/common/childbrowser.js">
    </script>
    <script type="text/javascript" charset="utf-8"
        src="../javascripts/common/application.js">
    </script>
<!--     <script type="text/javascript" charset="utf-8" -->
<!--       src="../javascripts/index.js"> -->
<!--     </script> -->

</head>
<body>
	<div data-role="page" data-theme="c" id="dashboard-page">
		<link rel="stylesheet" href="../stylesheets/dash-board.css"/>
		<script type="text/javascript" charset="utf-8"
			src="../javascripts/index.js">
			
		</script>
		<script type="text/javascript" charset="utf-8"
			src="../javascripts/login.js">
			
		</script>

		<div data-theme="b" data-role="header" data-position="fixed">
                <h3>NITHS</h3>
                <a href="" id="loginbtn" data-role="button" class="ui-btn-right">Logg inn</a>
            </div>
            <div data-role="content">
            	<div id="tweets">
            	<ul id ="tweetlist" data-role="listview" class="ui-listview" data-inset="true">
            	<li data-role="list-divider" id ="tweetdivider" data-theme="b">Siste tweets</li>
            		
            		<li class="li-first" id="loader">
					    <h3>Laster tweets</h3>
					</li>          	
            	</ul>
            	
            	<div class="ui-grid-a">
					<div class="ui-block-a">
						<a href="" data-role="button" data-mini="true" id="refreshtweetbtn" data-inset="true" data-theme="b">Refresh</a>
	
						</div>
						<div class="ui-block-b">
						<a href="" data-role="button" data-mini="true" id="expandtweetbtn" data-inset="true" data-theme="b">Flere</a>
				
						</div>
					</div><!-- /grid-a -->
            	
            	
            	</div>
            	
            	<div id="events">
            	<ul id ="eventlist" data-role="listview" class="ui-listview" data-inset="true">
            	<li data-role="list-divider" id ="eventdivider" data-theme="b">Neste events</li>
            	
            		<li class="li-first" id="eventloader">
					    <h3>Laster events</h3>
					</li>          	
            	</ul>
            	<div class="ui-grid-a">
					<div class="ui-block-a">
						<a href="" data-role="button" id="resfresheventsbtn" data-mini="true" data-inset="true" data-theme="b">Refresh</a>
	
						</div>
						<div class="ui-block-b">
						<a href="program.html" data-role="button" data-mini="true" data-inset="true" data-theme="b">Program</a>
				
						</div>
					</div><!-- /grid-a -->
				
		
            	
            	</div>
            
            </div>
        
            <div data-theme="b" data-role="footer" data-position="fixed">
            	<div data-role="navbar">
            		<ul>
                		<li><a href="" id="profilebtn">Profil</a></li>
						<li><a href="fadder-group-info.html">Min gruppe</a></li>
						<li><a href="qr-code.html">QR kode</a></li>
                	</ul>
            	</div>
            </div>
	</div>
	<!-- profile -->

</body>
</html>