<!DOCTYPE html>
<html>
  <head>
    <title>NITHs</title>
    <link rel="stylesheet" href="../stylesheets/common/jquery-mobile.css"/>
    <link rel="stylesheet" href="../stylesheets/index.css"/>
    <script type="text/javascript" charset="utf-8" src="../javascripts/common/jquery.js"></script>
    <script>
      $(document).bind("mobileinit", function(){
            $.mobile.touchOverflowEnabled = true;
      });
    </script>
    <script type="text/javascript" charset="utf-8" src="../javascripts/common/jquery-mobile.js"></script>
    <script type="text/javascript" charset="utf-8" src="../javascripts/common/jsoauth.js"></script>
    <script type="text/javascript" charset="utf-8" src="../javascripts/common/phonegap-1.4.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="../childbrowser.js"></script>
    <script type="text/javascript" charset="utf-8" src="../javascripts/main-menu.js"></script>
  </head>
  <body>
    <section data-role="page" data-theme="c">
      <div>
        <ul data-role="listview" data-theme="c">
          <li><a>Dashboard</a></li>
          <li><a>Faddergrupper</a></li>
          <li><a>QR kode</a></li>
          <li><a>Profil</a></li>
          <li><a>Fadderbarn</a></li>
          <li><a>Legg til event</a></li>
        </ul>
      </div>
    </section>
  </body>