<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <section data-role="page" data-theme="c">
      <script type="text/javascript" charset="utf-8"
        src="../javascripts/main-menu.js"></script>
      <header data-role="header" data-theme="c">
        <h1>Hovedmeny</h1>
      </header>
      <div>
        <ul data-role="listview" data-theme="c">
          <li><a>Dashboard</a></li>
          <li><a>Faddergrupper</a></li>
          <li><a>QR kode</a></li>
          <li><a>Profil</a></li>
          <li><a>Fadderbarn</a></li>
          <li><a>Legg til event</a></li>
        </ul>
      </div>
    </section>
  </body>