<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <section data-role="page" data-theme="c">
      <header data-role="header" data-theme="c">
        <h1>Hovedmeny</h1>
      </header>
      <div data-role="content">
        <ul data-role="listview" data-theme="c">
          <li><a href="dashboard.html">Dashboard</a></li>
          <li><a href="fadder-groups/fadder-groups.html">Faddergrupper</a></li>
          <li><a href="qr-code.html">QR kode</a></li>
          <li><a href="profile.html">Profil</a></li>
          <li><a href="fadder-children.html">Fadderbarn</a></li>
          <li><a href="event/add-event.html">Legg til event</a></li>
        </ul>
      </div>
    </section>
  </body>
</html>