<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div data-role="page" data-theme="c" id="profile">
    <script type="text/javascript" charset="utf-8"
      src="../javascripts/profile.js">
    </script>

		<div data-role="header" id="profileHeader" data-theme="c">
			<h1>Profil</h1>
			<a href="" data-rel="back" class="ui-btn-right">Back</a>
		</div>
		<div data-role="content" id="contentMain">
		
		
		
		Noe innhold
		</div>
		
		<div data-role="footer" id="footerProfile"></div>
	</div>
	<!-- profile -->

</body>
</html>