<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div data-role="page" data-theme="c" id="program-page">
	<link rel="stylesheet" href="../stylesheets/dash-board.css"/>
		<script type="text/javascript" charset="utf-8"
			src="../javascripts/program.js">
			
		</script>

		<div data-theme="b" data-role="header" data-position="fixed">
                <h3>Program</h3>
                <a href="index.html"  data-role="button" class="ui-btn-right">Back</a>
            </div>
            <div data-role="content">
            	<div id="program">
            	<ul id ="monday" data-role="listview" class="ui-listview" data-inset="true">
            		<li data-role="list-divider" data-theme="b">Mandag</li>
            		
            		<li class="li-first" id="loader">
					    <h3>Laster events</h3>
					</li>          	
            	</ul>          	
            	<ul id ="tuesday" data-role="listview" class="ui-listview" data-inset="true">
            		<li data-role="list-divider" data-theme="b">Tirsdag</li>
            		
            		<li class="li-first" id="loader">
					    <h3>Laster events</h3>
					</li>          	
            	</ul>          	
            	<ul id ="wednesday" data-role="listview" class="ui-listview" data-inset="true">
            		<li data-role="list-divider" data-theme="b">Onsdag</li>
            		
            		<li class="li-first" id="loader">
					    <h3>Laster events</h3>
					</li>          	
            	</ul>          	
            	</div>            
            </div>
        
<!--             <div data-theme="b" data-role="footer" data-position="fixed"> -->
<!--             	<div data-role="navbar"> -->
<!--             		<ul> -->
<!--                 		<li><a href="" id="profilebtn">Profil</a></li> -->
<!-- 						<li><a href="fadder-group-info.html">Min gruppe</a></li> -->
<!-- 						<li><a href="#">QR kode</a></li> -->
<!--                 	</ul> -->
<!--             	</div> -->
<!--             </div> -->
	</div>

</body>
</html>