<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <section id="edit-event" data-role="page" data-theme="c">
      <script type="text/javascript" charset="utf-8"
        src="../../javascripts/event/edit-event.js"></script>
      <script type="text/javascript" charset="utf-8"
        src="../../javascripts/common/to-json.js"></script>
      <header data-role="header" data-theme="c">
        <h1>Rediger event</h1>
      </header>
      <div id="container" data-role="content">
        <form id="edit-event-attributes-form-0" action="event-info.html">
          <ul id="edit-event-attributes-list-0" data-role="listview" data-inset="true"
              data-theme="c">
            <li id="submit-element-0">
              <button type="submit" data-role="button">Oppdater</button>
            </li>
          </ul>
        </form>
      </div>
    </section>
  </body>