<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <section data-role="page" data-theme="c">
      <link rel="stylesheet" href="../stylesheets/event-info.css"/>
      <script type="text/javascript" charset="utf-8"
        src="../javascripts/event/event-info.js"></script>
      <header data-role="header" data-theme="c">
        <h1>Event</h1>
      </header>
      <div data-role="content">
        <fieldset class="ui-grid-a">
          <div class="ui-block-a">
            <a href="#" id="edit" data-role="button">Edit</a>
          </div>
          <div class="ui-block-b">
            <a href="#" id="delete" data-role="button">Delete</a>
          </div>
        </fieldset>
        <ul id="event-attributes" data-role="listview" data-inset="true" data-theme="c"></ul>
      </div>
    </section>
  </body>
</html>