<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div data-role="page" data-theme="c" id="add-child-admin-page">
		<script type="text/javascript"
            src="../../javascripts/admin/add-child-manually.js">
        </script>
		<div data-role="header" data-theme="b">
			<a href="#"  data-role="button" data-rel="back" class="ui-btn-left">Back</a>
			<h3>LEGG TIL BARN</h3>
		</div>
		
		<div data-role="content">
			<div id="grouplessloader"><img class="spin" src="../../stylesheets/common/images/loader.png" /></div> 
		
			<form id="fadder-groupless-form" method="post" >

            <fieldset id="fadder-groupless-collection" data-role="controlgroup">
            </fieldset>

          <button type="submit">Legg til</button>
        </form>
			
		</div><!-- Content -->

	</div> 	<!-- page -->


</body>
</html>